*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: white
}

.header-logo{
    padding: 40px;
}

.main-contenido{
    display: flex;
    flex-direction: column;
    padding-top: 168px;
    padding-left: 240px;
    gap: 8px;
    justify-content: center;
}

.textarea{
    border: 0px;
}
.p-img{
    display: flex;
    gap: 8px;
}

.contenedor-botones{
    display: flex;
    gap: 24px;

}

.boton-contenedor{
    width: 328px;
    display: flex;
    justify-content: center;
    border-radius: 24px;
    padding: 24px;
    background-color: #04052E;
    color: white;
}

.desencriptador{
    display: flex;
    width: 400px;
    height: 944px;
    border: solid 1px;
    border-radius: 32px;
    background-color: #93B7BE;
    justify-content: center;
    
}

.contenido-desencriptador{
    width: 336px;
    height: 304px;
    display: flex;
    margin-top: 243px ;
    
}

