@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --color-fondo: white;
    --color-botones: darkblue;
    --color-desencriptar: #D8DFE8;
    --font-size-base: 16px; 
}

html {
    font-size: var(--font-size-base); 
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: var(--color-fondo);
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 1rem; 
    line-height: 1.5;
}

.logo {
    padding-top: 2.5rem; 
    padding-left: 2.5rem;
}

.main-contenido {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 15rem; 
    gap: 1rem; 
}

.text-area-container {
    position: relative;
    width: 100%;
}

.text-area {
    width: 100%;
    border: none;
    padding: 10rem 1rem 1rem 1rem; 
    text-transform: lowercase;
}

::placeholder {
    color: var(--color-botones);
}

.text-area:focus {
    outline: none;
}

.cartel {
    color: grey;
}

.contenedor-botones {
    width: 100%;
    max-width: 42.5rem; 
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1rem; 
    gap: 1.5rem; 
}

.boton-contenedor, .boton-contenedor2, .boton-reiniciar {
    border-radius: 1.5rem; 
    color: white;
    padding: 0.5rem 0; 
    cursor: pointer;
    width: 100%;
    text-align: center;
    font-size: 1rem; 
}

.boton-contenedor {
    background-color: var(--color-botones);
}

.boton-contenedor2 {
    background-color: var(--color-desencriptar);
    color: var(--color-botones);
}

.boton-reiniciar {
    background-color: var(--color-botones);
}

.mensaje-container {
    position: relative;
    width: 100%;
    max-width: 25rem;
    margin-top: 2.5rem; 
}

.mensaje {
    background-color: white;
    border: none;
    padding: 10rem 1rem 1rem 1rem; 
    border-radius: 2rem;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    background-repeat: no-repeat;
    background-size: contain; 
    background-position: center;
}

.imagen-mensaje {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}

.caja-copiar {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 1rem; 
}

.boton-copiar {
    border-radius: 1.5rem; 
    color: var(--color-botones);
    cursor: pointer;
    padding: 0.5rem 0; 
    width: 100%;
    text-align: center;
    font-size: 1rem; 
}

.hidden {
    display: none;
}




@media (max-width: 48rem) { 
    .main-contenido {
        flex-direction: column;
        padding-left: 1.5rem; 
    }

    .contenedor-botones {
        flex-direction: column;
        width: 100%;
        gap: 1rem; 
    }

    .boton-contenedor, .boton-contenedor2, .boton-reiniciar {
        width: 100%;
        max-width: none; 
    }

    .mensaje-container {
        max-width: 100%
        margin-top: 1.5rem;
    }

    .mensaje {
        padding-top: 5rem; 
    }
}


@media (max-width: 30rem) { 
    .logo {
        padding-top: 1.5rem; 
        padding-left: 1.5rem; 
    }

    .main-contenido {
        padding-left: 1rem; 
    }

    .text-area {
        padding-top: 5rem; 
    }

    .contenedor-botones {
        flex-direction: column;
        gap: 0.5rem; 
    }

    .boton-contenedor, .boton-contenedor2, .boton-reiniciar {
        width: 100%;
    }

    .mensaje {
        padding-top: 5rem; 
    }
}


@media (min-width: 64rem) { 
    .main-contenido {
        padding-left: 15rem; 
    }

    .text-area, .mensaje {
        width: 48%;
    }

    .contenedor-botones {
        width: 42.5rem; 
        flex-direction: row;
        justify-content: space-between;
    }
}