@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


:root{
    --color-fondo : white;
    --color-botones:darkblue;
    --color-desencriptar: #D8DFE8;

}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: var(--color-fondo);
    font-family: "Inter";
    font-weight: 400;
    font-size: 32px;
    line-height: 150%; 
    
}

.logo{
    padding-top: 40px;
    padding-left: 40px;
    
}

.main-contenido{
    display: flex;
    padding-left: 240px;
    justify-content: space-between;
}

.text-area{
    border: none;
    padding-top: 168px;
    text-transform: lowercase;


}

::placeholder{color: var(--color-botones);}

    .text-area:focus{
        outline: none;
    }

.cartel{
    color: grey
}

.contenedor-botones{
    width: 680px;
    height: 67px;
    display: flex;
    justify-content: space-between;
    justify-items: center;
    margin-top: 16px;
}

.boton-contenedor{
   width: 328px;
   border-radius: 24px;
   color: white;
   background-color: var(--color-botones);
   gap: 24px;
   
}


